*.ipr
*.iws
*.iml
.classpath
.project
.settings/
.idea/
.tsbuildinfo
.vscode/
node_modules/
package-lock.json
pnpm-lock.yaml
bookmarksmenu.zip
bookmarksmenu-*.tgz
**/*.css
**/*.css.map
.eslintcache
app/background/background.js
app/common/settings.js
app/common/common.js
app/options/options_ts.js
