*.ipr
*.iws
*.iml
.classpath
.project
.settings/
.idea/
node_modules/
package-lock.json
pnpm-lock.yaml
bookmarksmenu.zip
bookmarksmenu-*.tgz
**/*.css
.eslintcache
app/common/settings.js
app/common/common.js
