* {
    font: 13px "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body { padding: 10px; }

fieldset {
	display: block;
	padding: 1ex 1em;
	margin: 1ex 1em 1ex 0;
	border: 1px solid black;
	border-radius: 3px;
}

fieldset td { text-align: left; }

#donate ul {
    list-style: none;
    padding-top: 1.5ex;
}

#donate p {  font-weight: bold; }

#donate li { padding: 0.5ex 0; }

#donate button { margin: 0.5ex 0 1.5ex; }

h1 { font-size: 18px; font-weight: bold; }

h1 > img {
    margin-right: 5px;
    vertical-align: bottom;
}

hr {
    background-color: #a39e9e;
    border: 0;
    height: 1px;
    margin-top: 3px;
}

input[type="text"], input[type="number"] { width: 5em; }

#tabs > li {
    display: inline;
    float: left;
    font-size: 14px;
    border-width: 1px; border-style: solid; border-top-left-radius: 0.6em; border-top-right-radius: 0.6em;
    padding: 3px 6px;
    margin-left: -1px;
    position: relative;
    left: 1px;
}

td:first-child { text-align: right; }

th {
    font-weight: bold;
    text-align: left;
    padding: 1ex 2px;
}

td { padding: 2px; }

div.tabs > ul {
    list-style: none;
    position: relative;
    z-index: 1;
}


div.bookmark, div.gbookmark {
    max-width: 40em;
    padding-top: 1px; padding-bottom: 1px;
    text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
}

div.config {
    clear: left;
    display: none;
    border: 1px solid #6f5e5e;
    position: relative; top: -1px;
    padding: 0.5ex 0.5em;
    z-index: 0;
}

div.header {
    font-weight: bold;
    text-align: left;
    padding-top: 1ex; padding-bottom: 1ex;
}

div.tabs { display: table; }

.favicon {
    width: 16px; height: 16px;
    vertical-align: bottom;
    padding-left: 3px; padding-right: 3px;
}

input.error { color: red; }

input.color { width: 6em; }

li.bgTab {
    background-color: #dadada;
    border-color: #a39e9e; border-bottom-color: #6f5e5e;
    cursor: pointer;
}

li.bgTab:hover { background-color: #ece9e9; }

li.fgTab {
    background-color: white;
    border-color: #6f5e5e; border-bottom-color: white;
    cursor: default;
}

#labelSeparator {
    width: 5em;
    margin-left: 3px;
}

#loading, #loadingError {
    display: none;
    width: 100%;
    margin: 8ex 0;
    font-size: 20px;
    text-align: center;
}

#loadingError { color: red; }
