* {
    font: 13px "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    padding: 0;
    margin: 0;
}

body { padding: 10px; }

table.config, div.config { border: 1px solid #6f5e5e; }

div.config {
    display: table;
    padding: 2px;
}

div.tabs > table { width: 100%; }

th, td { padding: 2px; }

th, div.header {
    font-weight: bold;
    text-align: left;
    padding-top: 1ex;
    padding-bottom: 1ex;
}

div.bookmark {
    max-width: 40em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 1px;
    padding-bottom: 1px;
}

img.favicon {
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    padding-left: 3px;
    padding-right: 3px;
}

div.tabs { display: table; }

ul.tabs { list-style: none; }

ul.tabs > li { display: inline; }

ul.tabs > li > span {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #6f5e5e;
    padding: 4px 6px 0px 6px;
    font-size: 16px;
    color: black;
    background: white;
}

ul.tabs > li.fgTab > span {
    border-bottom: 1px solid white;
    cursor: default;
}

ul.tabs > li.bgTab > span {
    background-color: #b5b5b5;
    cursor: pointer;
}

ul.tabs > li.bgTab > span:hover { background-color: #ccc; }

#mouseConfig { display: block; }
#bookmarksShowHide, #treeConfig { display: none; }

input.error { color: red; }

input[type="checkbox"] { border: 0; }

hr {
    height: 1px;
    border: 0;
    background-color: #ccc;
    margin-top: 3px;
}
h1 {
    font-size: 18px;
    font-weight: bold;
}

h1 > img {
    vertical-align:middle;
    margin-right: 5px
}
